version: "3"
services:
  broker:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - rabbitmq
      - celery-worker
      - redis
    command: python3 broker/app.py
  rabbitmq:
    image: rabbitmq:3.9-management-alpine
    ports:
      - 5672:5672
      - 15673:15673
  redis:
    image: redis
    ports:
      - 6379:6379
  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - C_FORCE_ROOT=true
    depends_on:
      - rabbitmq
      - redis
    command: celery -A celery_app.celery worker -l INFO -E
  flower:
    image: mher/flower
    depends_on:
      - rabbitmq
      - celery-worker
    command: celery flower --broker=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT} --port=8888