version: "3"
services:
  nlp:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - rabbitmq
      - celery-worker
      - grobid
      - redis
    command: python3 app.py
  grobid:
    image: lfoppiano/grobid:0.7.0
  rabbitmq:
    image: rabbitmq:3.9-management-alpine
  redis:
    image: redis
  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - C_FORCE_ROOT=true
    depends_on:
      - rabbitmq
      - redis
    command: celery -A app.celery worker -l INFO -E
  flower:
    image: mher/flower
    depends_on:
      - rabbitmq
      - celery-worker
    command: celery flower --broker=amqp://${RABBITMQ_HOST}:${RABBITMQ_PORT} --port=8888